body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
.modal-form {
  display:flex;
  flex-direction: column;
  font-size: 20px;
}
.modal-footer{
  display:flex;
  justify-content: center;

}

.btn-primary{
 background-color:green;
}

